[2015-09-30 17:37] patoigz opened #1 "Compatibility"
Is there a way? To use this "lib" but with Leaflet 0.7.5?

[2015-10-01 01:18] elfalem commented on #1
Unfortunately, this plugin is not compatible with Leaflet 0.7.5 because significant changes have been made to the Leaflet library after version 0.7.5.

[2015-10-06 19:56] patoigz commented on #1
Ok... If i work in something. I will share it.
Because if i create a curve using Polylines & Bezier is extremely costly. And i need render about 180K curves!

[2016-12-15 03:15] maximusnikulin opened #3 "Animation"
Is threre some way to animate it?

[2016-12-15 17:20] elfalem commented on #3
What type of animation? Can you provide more details?

[2016-12-16 07:19] maximusnikulin commented on #3
I want to draw path form start to end with different delay

[2016-12-18 02:41] elfalem commented on #3
I've added an initial implementation of an option to animate. The demo includes examples.

[2016-12-18 02:44] elfalem commented on #1
I recommend upgrading to version 1.0 or later of Leaflet which has a lot of improvements.

[2016-12-18 02:44] #1 closed

[2016-12-18 02:48] elfalem opened #4 "A way to access Animation object"
Provide a way to access the Animation object returned by Element.Animate(). This would allow pausing and restarting animations among other things. https://developer.mozilla.org/en-US/docs/Web/API/Animation

[2016-12-18 04:31] maximusnikulin commented on #3
@elfalem It's so great!Thanks a lot

[2016-12-18 04:31] #3 closed

[2016-12-20 02:02] mopetite opened #5 "ahhh,I want to know how to use command 'A'"
please tell me ,or make an example

[2016-12-20 12:05] elfalem commented on #5
I don't plan on supporting command 'A' going forward. It's possible to approximate elliptical arcs with bezier curves. However, if you really want to use command 'A', you'll need to check out the `elliptical-arc` branch of the repository. The example.html file in there shows you how to use it.

[2016-12-20 12:11] elfalem opened #6 "path re-animated when map changes"
A path with animate option set keeps getting re-animated when the map is panned or zoom level is changed.

[2016-12-21 02:07] #6 closed

[2016-12-21 03:06] suyanhanx commented on #5
Oh,thank you.I just want to draw quad.Maybe you are right,I found that using bezier curve to approximate quad will get a good result while angle less than 90 degree.And I'll check the example.html.Thank you very much.This plug-in gives me a lot of help.

[2016-12-21 03:13] suyanhanx commented on #5
That you said this plug-in was just like SVG.Yesterday I checked SVG documents of path and I used command 'A' according  to the document.But I failed.The 'A' did no effect.

[2016-12-21 06:33] suyanhanx commented on #5
So the js file in two branches is different？

[2016-12-21 09:24] suyanhanx commented on #5
Yep,they are different.I'll choose the one in elliptical-arc branch.Now animation does nothing to me.Command 'A' is better.Thank you again.

[2016-12-23 00:54] elfalem commented on #5
Yes, command 'A' will only work on that branch. The animation option is new and is not available on that branch.

[2016-12-23 02:31] suyanhanx commented on #5
Can this use relative coordinate？Using 'A'in absolute coordinate becomes troublesome in different lats.

[2016-12-26 17:30] elfalem commented on #5
As of now there is no support for relative coordinates.

[2017-03-02 17:35] faipassa opened #7 "Error on Safari & IE11"
Hi,

First, thanks a lot for this great lib for Leaflet. I integrated it into my project and it works great.

I only have a browser compatibility issue with Safari (here version 10.0.3). It looks that some (SVG?) features are not natively supported. While drawing curve on amp, I get the following error:

Leaflet.curve:l182

						{strokeDashoffset: length},
						{strokeDashoffset: 0}
					], laye

[2017-03-03 01:54] elfalem commented on #7
Unfortunately, this is because the Web Animations API is [not supported](http://caniuse.com/#feat=web-animation) in Safari.

As a workaround, I'd suggest using [this](https://github.com/web-animations/web-animations-js) JavaScript implementation of the API. It allows use of the animations API in browsers that don't natively support it (Safari, IE, etc...) while falling back to the native browser i

[2017-03-03 08:18] JumpingJackFly commented on #7
Hi,

Thanks for your prompt feedback and I confirm this does not work on IE11 too.

If I test the workaround, I'll let you know.

[2017-07-13 09:54] ikrav4ic commented on #7
Hi faipassa
Have you find something to fix it?

[2017-09-12 12:06] desile opened #8 "Huge CPU Usage when zoomed in"
Hello!
I ran into this problem when tried to zoom map.
For example - your demo http://elfalem.github.io/Leaflet.curve/
Zoom in animated curve with dashes until animation became slow and the browser starts to hang.
It happens not only with animated curves but with simple curves with dashes.

[2017-09-13 01:53] elfalem commented on #8
Hello!
Can you provide more details about your environment.
* What hardware (model, CPU, RAM), operating system, and browser are you seeing the issue on?
* To what level are you zoomed in when you start seeing the issue?
* Is the issue limited to curves with animations and/or dashes only or does it happen with non-animated curves with solid lines?
* Are you able to quantify the CPU usage (it jumps

[2017-10-13 14:52] hermionewy commented on #7
I included the web-animations API and it works on Safari, but the curve shows up without animation. Has anyone figured out how to create smooth animation with this library?
 <script src="https://rawgit.com/web-animations/web-animations-js/master/web-animations.min.js"></script>

[2017-10-29 21:26] JumpingJackFly commented on #7
Hi,
No I did not. I finally went for simple L.polyline() as fallback. Here snippet of code i use: [link](https://gist.github.com/faipassa/d23580b8f46cf27839af226b1a48a326)

[2017-12-06 11:25] verdie-g opened #9 "Draw marker on curve"
Hi ! Is it, or will it be possible to draw marker on the curve ?

[2017-12-07 18:12] elfalem commented on #9
Hi! Unfortunately there is no functionality in this plugin to draw markers on the curve.

There is a plugin [leaflet-distance-markers](https://github.com/adoroszlai/leaflet-distance-markers) that does this for polylines. Perhaps it could be altered to work with curves.

[2017-12-08 08:53] verdie-g commented on #9
Thanks for you answer

[2017-12-08 08:53] #9 closed

[2017-12-10 16:31] verdie-g commented on #9
Is it possible to get curve equation though ?

[2017-12-14 01:48] elfalem commented on #9
I'm not sure exactly what you're asking for but the [standard bezier equations](https://en.wikipedia.org/wiki/B%C3%A9zier_curve#Specific_cases) may be what you're looking for.

[2017-12-14 10:12] verdie-g commented on #9
Nevermind.

[2018-02-07 06:01] spmsupun commented on #8
@elfalem Close this

[2018-02-07 23:24] #8 closed

[2018-02-07 23:24] #5 closed

[2018-02-08 05:49] spmsupun opened #10 "midpoint automatically"
when going to one curve line using M and Q we have to put midpoint statically.
EX:
[code]
so need a way to create that midpoint automatically from the plugin.
using your plugin I created sample project to do that https://github.com/lifeeka/leaflet.bezier/tree/supun-dev

[2018-05-06 16:56] TobiasGruberAT commented on #7
@hermionewy Hey, hope this isn't too late, but how did you include the Web-Animations API?
And did it work without any problems in Safari and IE? :)

[2018-07-26 14:30] yadavdilip1729 opened #11 "Add text to curve"
I have draw a curve in leaflet map between two points. How to add text in middle of  curve line.

my code is like that :
var curvedPath = L.curve(
					[
						'M', latlng1,
						'Q', midpointLatLng,
						latlng2
					], pathOptions).addTo(map);

[2018-07-26 16:34] elfalem commented on #11
Unfortunately there is no feature built into this plugin to allow adding text on the curve.

Depending on the nature of your map, perhaps you can look into adding a `<textPath>` element (https://developer.mozilla.org/en-US/docs/Web/SVG/Element/textPath).

[2018-09-01 16:36] kunaldhariwal opened #12 "set timer for the curve"
how the timer has to be set for the curve?
curve should disappear along with the markers.

[2018-09-01 23:18] elfalem commented on #12
Perhaps you can use `setTimeout()` to remove the curve and markers after some time.

[2018-09-02 06:13] kunaldhariwal commented on #12
var path = L.curve(['M',latlng2,'Q',midpointLatLng,latlng1], {snakeArray: 5, color:'grey' ,animate: {duration: 2500, iterations: 2}}).addTo(map);
                   window.setTimeout(5000,path);

This isn't working.

[2018-09-02 06:17] kunaldhariwal commented on #12
[code]
This makes the curve to appear after 5 secs  but i want it to disappear after 5 secs

[2018-09-02 06:20] kunaldhariwal commented on #12
Also, it gives the following error and the curve turns into a straight line.

Expression statement is not assignment or call
 Mutable variable is accessible from closure

[2018-09-02 15:23] elfalem commented on #12
You want to set the timer on the removal not addition of the curve.

[code]

[2018-09-02 15:54] kunaldhariwal commented on #12
Thank you so much. It worked!

[2018-09-02 15:54] #12 closed

[2018-09-06 09:28] sebastienpattyn93 opened #13 "Curves not animating"
Hi I created an angular application where I'm using leaflet with leaflet.curve.
I used the same points as in the example and I'm seeing my map and the curves but the curves are not animating. Did I maybe miss some packages or modules?

[code]

[2018-09-07 17:22] elfalem commented on #13
Hi, the https://www.npmjs.com/package/leaflet-curve npm package is outdated (3 years old). It was not created by  me.

I'll look into creating a node package.

[2018-09-08 17:08] elfalem opened #14 "Create npm pacakge"

[2018-11-16 21:10] chazsolo opened #15 "Support canvas renderer"
Is there any plan to provide support for the Canvas renderer in the future? Due to performance issues using SVG and animations (with the amount of data we have to render at once) I'd love to switch over to using the canvas renderer but we lose all of our arcs, and I've yet to find a good replacement.

[2018-11-17 22:47] elfalem commented on #14
npm package created.

[2018-11-17 22:47] #14 closed

[2018-11-17 22:49] elfalem commented on #13
@sebastienpattyn93 I have created an updated npm package - https://www.npmjs.com/package/@elfalem/leaflet-curve

[2018-11-17 22:50] #11 closed

[2018-11-17 22:54] elfalem commented on #10
Interesting project. Thanks.

[2018-11-17 22:54] #10 closed

[2018-11-17 22:58] elfalem commented on #7
It looks like Web Animations support has made it to the Technology Preview version of Safari. Hopefully, it will make it to the stable version soon.

[2018-11-17 22:58] #7 closed

[2018-11-18 01:43] elfalem commented on #15
I've just added basic support for Canvas rendering. However, animations do not work since the Web Animations API doesn't work with Canvas. I'm not sure how to bridge this discrepancy between the two renderers but I'm open to suggestions.

Another caveat, checks on whether a point resides within a shape or not actually use the shapes rectangular bounding box. I haven't tested it but if click event

[2018-11-18 04:23] chazsolo commented on #15
I don't have extensive experience using canvas, but I'd be glad to look and see if I can help in any way. Thankfully the first iteration of our maps doesn't require any animation or interaction with the arc, it's just a visual indicator of a relationship, so I'd be happy with whatever works!

[2018-11-19 00:32] elfalem commented on #15
OK. I've pushed version 0.3.0 to npm which allows Canvas rendering.

[2018-11-19 16:58] chazsolo commented on #15
This update works great; really appreciate you responding so quickly! There is one minor problem I'm having, and that's with re-renders (using React). Everything looks fine until we change some options and re-render the component. The arcs are being redrawn but never cleared, so old arcs remain. I've tried clearing the canvas on a render with `context.clearRect(0, 0, canvas.width, canvas.height)`

[2018-11-19 18:23] chazsolo commented on #15
@elfalem After poking at it for a while I realized that was the wrong way to go about it, and instead need to clear out the layers from the map instead

[code]

and it works beautifully. Thanks again for the update!

[2018-11-20 01:06] elfalem commented on #15
Great! Glad to hear it's working.

[2018-11-20 01:06] #15 closed

[2018-11-20 01:09] #13 closed

[2018-11-20 14:51] chazsolo opened #16 "Canvas animation"
Do you have an idea of what it would take to implement support for canvas animation? I ask as I know it will eventually come up in the fear future and I'd like to have a reasonable response as to what effort would be involved. I'd be happy to help implement it.

For my specific case, it would be updating the offset of a dashed line to indicate movement from one coordinate to another.

[2018-11-21 03:36] elfalem commented on #16
I'm thinking about this but I don't have any ideas currently.

For SVG rendering, [Element.animate()](https://developer.mozilla.org/en-US/docs/Web/API/Element/animate) does the heavy lifting. We just pass the options supplied by the user. Ideally the options currently passed to Element.animate() can somehow be translated to commands suitable for the Canvas renderer. I'm still trying to understand

[2018-11-21 13:49] chazsolo commented on #16
I'm not an expert on canvas animations, nor is my team, but we'd be willing to help if you need it. We recently found [Canvas Flowmap Layer](https://github.com/jwasilgeo/Leaflet.Canvas-Flowmap-Layer/blob/master/src/CanvasFlowmapLayer.js), so it's definitely possible. Since your library is narrow in scope I think it may be relatively simple to add a few canned animations with options (instead of dy

[2018-11-25 02:43] elfalem commented on #16
Thanks for referring to Canvas Flowmap Layer. That was the breakthrough I needed. I've done an implementation of animations in canvas on [this branch](https://github.com/elfalem/Leaflet.curve/tree/issue-16-canvas-animation). I haven't published to npm yet.

According to my testing, I think it works for your use case of updating the offset of a dashed line. If you'e able to test, I'd appreciate any

[2018-11-25 19:02] chazsolo commented on #16
Thanks @elfalem, we'll give it a shot this week sometime and I'll keep you updated.

[2018-11-27 15:13] jeffshaver commented on #16
@elfalem, @chazsolo is out this week. so I am taking a look. I got the lines to be dashed (using `dashArray`), but when i add the animate option, nothing changes. I took a  line from the examples by adding `animate: {duration: 3000, iterations: Infinity}` to my options object, to no avail. any help?

to add as much info as possible, heres the entire call to Leaflet.curve:

[code]

[2018-11-27 15:42] jeffshaver commented on #16
@elfalem nvm. I got it working. I didn't have `window.TWEEN` defined.

Now the issue I am having is that some curves are animating much faster than others.

[2018-11-27 15:47] jeffshaver commented on #16
@elfalem I think I need to figure out a way to normalize the duration of the animation regardless of distance.....

[2018-11-27 19:10] elfalem commented on #16
@jeffshaver if the animations have the same duration, they should start and stop at the same time. If one curve is significantly longer than another curve but they have the same duration, the first one will appear to be faster since it has to cover more distance in the same time period. If it's using infinite iterations, playing around with the duration might help.

[2018-11-27 19:52] jeffshaver commented on #16
@elfalem yeah. So, I tested the branch. the animations work (at least the one we wanted to do). and didn't require much change on our end (thanks!). We need to play around with normalizing the duration based on the distances since we can have large differences between our longest and shortest lines.

The work you have done here has been awesome and we appreciate the help with this!

The only thing

[2018-11-27 20:58] elfalem commented on #16
Ok, happy to hear it's working. Regarding the docs, there is a change in the README that mentions tween.js but it's on this issue branch. Once the branch is merged, it should be more visible.

I will look into a better way of providing a reference to TWEEN. It looks for window.TWEEN which is not ideal in a Node environment. Thanks for testing and the feedback!

[2018-11-28 00:40] elfalem commented on #16
@jeffshaver I just pushed a change that removes the reference to `window` to the branch. It was used only to check for existence of the TWEEN object, so I replaced it with a `typeof` check.

[2018-12-13 16:35] kindrebo opened #17 "Browser Compatibility"
Nice plugin.

I hope I am wrong, but shapes do not seem to be drawn in IE and Edge.

[2018-12-14 21:49] elfalem commented on #17
It looks like this is due to lack of support for Element.animate in IE and Edge (https://caniuse.com/#feat=web-animation). Are you looking to animate the shapes or just draw non animated ones?

[2018-12-27 13:34] kindrebo commented on #17
Indeed, non-animated ones seem to be drawn in IE when the animated shapes are not included. Thank you for pointing in the right direction, as well as for the compatibility-link.

[2018-12-27 13:34] #17 closed

[2019-01-02 21:41] elfalem commented on #16
@chazsolo @jeffshaver any update on whether the `window` reference issue is resolved? I'm hoping to merge this and publish a release soon.

[2019-01-04 17:22] merigold opened #18 "this._renderer._updatecurve is not a function"
I have this error when rendering curve.

I use Typescript with webpack.

[code]

[2019-01-05 01:15] elfalem commented on #18
I'm not that familiar with Typescript. Are you able provide any more details? Perhaps a minimal sample that can reproduce this error? What version of leaflet and leaflet-curve are you using?

[2019-01-05 08:34] merigold commented on #18
Lastes version of both.

I think is not typescript problem, Now I use js files and have the same.

I try reproduce minimal example.

[2019-01-08 01:05] jeffshaver commented on #16
@elfalem, @chazsolo or I will give this a shot in the next few days. Sorry for the late response!

[2019-02-03 02:47] elfalem commented on #16
Merged and published v0.4.0

[2019-02-03 02:47] #16 closed

[2019-02-23 23:22] n3d1117 opened #19 "Animated curve becomes dashed when zoomed"
Hello!
When animating a curve, it becomes dashed once I start to zoom in.
If I remove the animation, it works fine. I've tested it straight from the demo site. Am I missing something? Thanks

![leaflet_curve](https://user-images.githubusercontent.com/11541888/53292871-eca98e80-37c9-11e9-9a3c-5f5d1f17ec58.gif)

[2019-02-24 00:16] elfalem commented on #19
Hello,

I see this issue as well. It's probably related to the recent animation changes. I will take a look when I get a chance. Thanks for reporting.

[2019-02-27 01:30] elfalem commented on #19
Just to give an update, I have a fix for SVG already but still working on one for Canvas.

[2019-02-28 02:27] elfalem commented on #19
A fix has been pushed for both SVG and Canvas. [v0.4.1](https://github.com/elfalem/Leaflet.curve/releases/tag/v0.4.1) has been released and published to npm.

[2019-02-28 02:27] #19 closed

[2019-03-19 17:21] n3d1117 opened #20 "Compatibility with Leaflet.PolylineDecorator"
Hello!

I'm trying to draw an arrow in the middle of a L.Curve, using [Leaflet.PolylineDecorator](https://github.com/bbecquet/Leaflet.PolylineDecorator) library.
What I'd like to do is:
[code]

However PolylineDecorator only accepts L.Polyline, L.Polygon or an array of L.LatLng as a parameter.
Is there maybe any way to extract an array of latlngs from the curve and use that?

Thanks!

[2019-03-20 00:42] elfalem commented on #20
Hello,

Unfortunately I don't think this is possible. Bezier curves are defined by a small number of latlngs that indicate key points and from which the rest of the curve is derived. If the list of these points is supplied to PolylineDecorator, it likely will try to decorate a straight line between the points not following the curve which I don't think is desired.

I'm open to suggestions if anyon

[2019-03-20 10:39] n3d1117 commented on #20
Hello,

I didn't mean to use the key points: what I meant with

was to maybe extract an approximation of the curve using a finite number of points (say 100) and provide that to PolylineDecorator. I don't know if that would be possible.

Thanks for your help!

[2019-03-21 01:00] elfalem commented on #20
OK, thanks for the clarification. I'll try to find an algorithm that does that.

[2019-04-07 07:47] khetamHamad commented on #20
Any update or advice related to this?

Thanks!

[2019-04-07 17:38] elfalem commented on #20
I'm still looking for an algorithm for sampling the points.

[2019-04-11 04:17] elfalem commented on #20
@n3d1117 @khetamHamad  I have implemented a new function `trace()` that provides an array of points that are on the curve. The points can then be supplied to PolylineDecorator.

Example usage in the context of the demo page:
[code]

`trace()` takes an array of sample distances. These distances will be applied to each segment (i.e. command) of the curve. Valid distance values are between 0 and 1 in

[2019-04-11 05:51] khetamHamad commented on #20
First of all, thank you elfalem for helping me in this.
I downloaded the new leaflet.curve.js and tried to add the above lines of code to my code (below), but i had an error
jquery-3.3.1.js:3827 Uncaught TypeError: Cannot read property 'length' of undefined
    at e.trace (index.html?number=&pod=AlAlawi:33548)
    at HTMLDocument.<anonymous> (index.html?number=&pod=AlAlawi:34541)
    at mightThrow

[2019-04-11 17:00] elfalem commented on #20
This is because polylineDecorator doesn't recognize `curvedPath`. Instead of supplying the path itself, obtain an array of points using the `trace` function and provide that to the polylineDecorator.

In your code, `L.polylineDecorator(curvedPath, {...` would change to `L.polylineDecorator(curvedPath.trace([0, 0.25, 0.5, 0.75, 1]), {...`

[2019-04-11 20:48] n3d1117 commented on #20
Thanks @elfalem for your time. Although I ended up using a different workaround, this really looks like a great addition!

[2019-04-16 23:35] elfalem opened #22 "trace() error on curve not added to map"
If a curve is not added to a map, invoking `trace()` on it results the following error:
`this._points is undefined`

[2019-04-16 23:38] elfalem commented on #20
A new release has been published.

[2019-04-16 23:38] #20 closed

[2019-04-16 23:38] elfalem commented on #18
Closing due to inactivity.

[2019-04-26 13:08] JensC opened #23 "TypeError: "curve.trace is not a function""
First of all, thanks for implementing the helpful trace method. In a react app I wanted to use the new method and I got the error mentioned in the title. Drawing the curve works just fine.

Here is the used code snippet
[code]
I am using leaflet 1.1.0 and the newest (0.5) Leaflet.curve. Any idea what is going wrong?

[2019-04-26 23:09] elfalem commented on #23
From the code snippet you provide, I would expect it to work. I'm not sure what could be wrong.

What do you get if you debug the following?

`console.log(curve)`
`console.log(curve.trace)`

[2019-04-28 07:20] khetamHamad commented on #20
Hello elfalem,

Sorry for re-open this issue but I used L.polylineDecorator(curvedPath.trace([0, 0.25, 0.5, 0.75, 1]),...) and have an error related to "Uncaught TypeError: Cannot read property 'length' of undefined"
any advice related to this issue or the version of leaflet and jquery.

Best regards.

[2019-04-28 12:01] khetamHamad opened #24 "Leaflet.curve is not compatible with leaflet.browser.print"
Hello,

I added a leaflet.browser.print button to print the map with the flows but it always returns a map without flows curves any advice or recommendations to show the curves in the maps.

Best regards.

[2019-04-28 12:40] khetamHamad commented on #23
I faced the same issue
console.log(curve.trace) returns :
ƒ (t){
  t = t.filter(function(element){
   return element >= 0 && element <= 1;
  });
  var point, curCommand, curStartPoint, curEndPoint;
  var p1, p2, p3; ...

console.log(curve) returns:
e {options: {…}, _coords: Array(5), _bounds: T, _initHooksCalled: true, _popup: e, …}
options: {weight: 1.0592885375494072, opacity: 0.5592885375494072

[2019-05-01 03:05] elfalem commented on #23
@JensC  @khetamHamad  An outdated version of the plugin was published as 0.5.0. This is why there were errors with the trace function not being recognized. An accurate package has been published as 0.5.2.

[2019-05-01 03:08] elfalem commented on #20
@khetamHamad  This is probably the same issue as #23. Version 0.5.2 should fix it.

[2019-05-01 05:21] khetamHamad commented on #20
Hello,
after i updated the library from 0.5 to 0.5.2 i still face the same issue "jquery-3.4.0.min.js:2 Uncaught TypeError: Cannot read property 'length' of undefined"
The following is my code
**var weig = sizeFun(num, max, min) -2;
var style = {weight:weig, opacity:weig-0.5, color:'#228B22', animate: {duration: 3000, delay: 1000}};
var curvedPath = L.curve(
      				 [
      					 'M', latlng1,

[2019-05-03 03:31] elfalem commented on #20
@khetamHamad From the code snippet, you've provided it sounds like it's related to #22. `trace()` only works after the curve has been added to the map. If `paths` is the map, it looks like trace() is being called before the curve has been added to the map. One way to fix could be moving the last line in the snippet before polylineDecorator:
[code]

[2019-05-04 17:30] elfalem commented on #24
The curve layer needs to be registered with the browser print plugin. (more info: https://github.com/Igor-Vladyka/leaflet.browser.print#new-print-layersrenderers-registration)

You can use the following code to register the layer:
[code]

[2019-05-05 07:33] khetamHamad commented on #24
@elfalem thank you after I added the registration code it works.
Is there any solution for the animation, when I print the map it doesn't show the full flow just a part of it because of animation.

Thanks again.

[2019-05-05 08:05] khetamHamad commented on #20
The path is a groupedLayers and it is added by default in loading the map.

Best.

[2019-05-05 08:09] elfalem commented on #24
You can disable animations when printing by removing the `animate` property when cloning the options.
[code]

[2019-05-05 09:56] khetamHamad commented on #24
Thanks 👍

[2019-05-05 09:56] #24 closed

[2019-05-05 16:52] elfalem commented on #20
In that case I'm not sure I understand the code snippet you provided. Are you able to provide a minimal but complete example that illustrates the issue?

[2019-10-21 22:56] #23 closed

[2020-01-06 18:28] gsteelex opened #25 "Request for opinion on adding functions that do not exist in Leaflet.curve but are expected by Leaflet.Path and another third party library"
Hello, I'd like to bring to your attention 2 modifications that we have made to a fork of your library and ask if they are something you would like us to pull request back into your library.

The changes we made are to (1)add a function that is called internally from leaflet.Path.setStyle(), and (2)to add a function to Leaflet.curve that a library we are using references but does not exist in Leaf

[2020-01-07 01:30] elfalem commented on #25
Hello Garrett and thanks for the very detailed description. I agree with both changes and would love to incorporate them into the library.

For change 1, an empty function should be fine. If any issues arise in the future, recomputing the bounds should be easy to implement.

For change 2, it makes sense to adhere to the existing naming convention. I think it's possible to avoid a call to `this.red

[2020-01-07 13:49] gsteelex commented on #25
That's great news and good catch, I will remove the extra call to `this.redraw()` as you suggest.

I will create a new branch and open a pull request scoped to the 2 methods.

[2020-01-07 14:30] gsteelex commented on #25
I have opened the following pull request scoped to the 2 methods with a README.md and package minor version update: https://github.com/elfalem/Leaflet.curve/pull/26

Thank you for being so quick to respond!

[2020-01-08 13:29] gsteelex commented on #25
Thank you for merging the pull request and being so responsive. Looking forward to this being in NPM!

[2020-01-08 13:29] #25 closed

[2020-01-09 03:06] elfalem commented on #25
New version published in NPM. Thanks for the contribution!

[2020-04-15 17:59] LucasMendoncaWF opened #29 "ReferenceError: coord is not defined"
im getting this error: ERROR ReferenceError: coord is not defined

when i try to do this: L.curve(['S', [place.lat ,place.lon],[-23.5437811, -46.6470027]], {color:'green',fill:true}).addTo(this.map);

how can i do this work?

(i'm using angular)

[2020-04-15 18:09] #29 closed

[2020-04-17 02:49] elfalem commented on #29
Based on PR #30, it looks like you're using a very old version of the code.

[2020-09-15 18:38] osper66 opened #32 "How to implement Leaflet.curve to LeafletDraw plugin"
Any plan?

[2020-09-17 01:11] elfalem commented on #32
Hello,
It will require significant effort to implement that integration. Although I would like it to happen, unfortunately there are no current plans. I do welcome contributions though.

[2020-09-25 11:57] bakeroner commented on #18
Hi, i had the same issue and found out that the reason is "preferCanvas" property setted to true in map options.
My leaflet options:
 "leaflet": "^1.7.1",
"leaflet-curve": "^1.0.0"

To represent this bug you just any project with map with preferCanvas property and draw curve

[2020-09-26 18:11] elfalem commented on #18
@bakeroner I haven't released a version 1.0.0. It looks like you're using a package made by someone else.

The correct package is [@elfalem/leaflet-curve](https://www.npmjs.com/package/@elfalem/leaflet-curve). The latest version is 0.6.0. Replace `"leaflet-curve": "^1.0.0"` with `"@elfalem/leaflet-curve": "^0.6.0"`.

[2020-10-07 03:34] elfalem commented on #18
@bakeroner Did the above resolve your issue?

[2020-10-07 21:56] bakeroner commented on #18
@elfalem Yes, thx for your quick response. Also thx for your work and this package.

[2020-10-07 22:31] #18 closed

[2020-11-02 12:18] mobinseven opened #33 "Renderer pane option is ignored on canvas renderer"
## Issue Description:

When defining a renderer for the curve, which has a pane defined, pane is ignored and each curve creates a canvas for itself and makes the page very heavy and irresponsible.
## Steps to reproduce:

1. Create a pane.
2. Create a canvas renderer for the pane.
3. Create high number of curves with the renderer
[code]
## Version
Leaflet 1.7.1

[2020-11-13 01:08] elfalem commented on #33
Thanks for the bug report and detailed reproduction steps. I have not yet gotten a chance to investigate but will do so when possible.

[2020-11-23 19:57] elfalem commented on #33
To give an update, I've been able to confirm the issue. It looks like each curve was creating it's own canvas for isolation. This is because animating becomes challenging with multiple curves on the same canvas. But as noted, having multiple canvases also has its own issues. I'm working on getting animations to work reliably on a single canvas.

[2020-11-24 08:21] elfalem commented on #22
Fixed in v0.7.0

[2020-11-24 08:21] #22 closed

[2020-11-24 08:22] elfalem commented on #33
@mobinseven I've just released version 0.7.0 which I believe resolves this issue. Please let me know if you can confirm.

[2020-11-24 23:12] elfalem commented on #32
Links:
* Repo: https://github.com/Leaflet/Leaflet.draw
* Demo: https://leaflet.github.io/Leaflet.draw/docs/examples/full.html

[2020-11-26 10:04] mobinseven commented on #33
@elfalem Yes, I tested the snippet and they all rendered on a single canvas. Thanks!

[2020-11-27 04:09] #33 closed

[2021-03-11 18:10] qpincon commented on #32
I plan to submit a pull request to the Leaflet.draw project with the ability to draw curves.
Since this Leaflet.draw does not have any dependency, it would involve integrating the source code of Leaflet.curve to Leaflet.draw (with attribution of course).
An option would also be to tell users to import Leaflet.curve before Leaflet.draw to be able to draw curves. Maybe it's better, but it will of co

[2021-03-11 21:00] elfalem commented on #32
@pinconquentin That would be great!
In my opinion, I think it would be better to tell users to import Leaflet.curve. I think Leaflet.draw already depends on the main leaflet.js code, so this could be another dependency (optional one). Decoupling it in this way would mean users not interested in drawing curves won't have unnecessary code. And for those interested, any updates to Leaflet.curve would

[2021-03-12 09:00] qpincon commented on #32
@elfalem Yes, I leaned towards that option as well. Thank you for your answer !
I will probably submit the PR around next week.

[2021-03-22 21:26] elfalem commented on #32
PR for reference - https://github.com/Leaflet/Leaflet.draw/pull/1008
thanks for your work on this @pinconquentin , hopefully it gets merged soon.

[2021-03-22 21:49] qpincon commented on #32
With pleasure ! The repo seems pretty dead unfortunatly, I hope somebody will check it out. Meanwhile, if someone wants to use this feature, install [this branch from the forked repo](https://github.com/pinconquentin/Leaflet.draw/tree/curve_built).

[2021-04-04 15:42] Weilin37 opened #36 "Is it possible to have color gradients for a line?"
I'd like the line to start with one color and end with another. I am wondering if this is possible with leaflet curve. thanks so much

[2021-04-07 00:28] elfalem commented on #36
This could be achieved by giving the curve a class name, defining SVG gradient elements, and using CSS. This assumes you're using the SVG renderer and not canvas.

When creating the curve, give it a class name, e.g.
[code]

Then include an SVG element on the page that defines gradients. e.g.
[code]

Lastly include the following CSS on the page:
[code]

And it will look something like this:
![image

[2021-04-09 16:14] Weilin37 commented on #36
Thank you for the solution!

[2021-04-09 16:16] Weilin37 opened #37 "Leaflet Curve does not seem to want to cross the Pacific Ocean"
I have an example of a curve drawn between Australia and California. The expected curve would have crossed the pacific ocean for the shortest path. Instead, it seems to cross Africa and the Atlantic Ocean.

I'd like to understand better why that is and if there is a solution to this. Thanks for your time.

[2021-04-10 20:34] #36 closed

[2021-04-10 20:43] elfalem commented on #37
@Weilin37 This applies to Leaflet.js in general and is not something that's specific to Leaflet.curve. I don't have experience with this aspect but there are several Github issues discussing the crossing of the International Date Line. Please see:
* https://github.com/rstudio/leaflet/issues/553
* https://github.com/Leaflet/Leaflet/issues/82#issuecomment-1260488

[2021-04-11 04:00] Weilin37 commented on #37
Thanks and you're right those solutions helped. Thanks

[2021-04-11 19:41] #37 closed

[2021-04-27 03:15] ardeora opened #38 "Type Support For L.Curve?"
Hello there! I hope you are had an amazing weekend. I have been using your leaflet plugin since a while and am absolutely grateful for it. I was wondering if you would be interested in adding type support for this plugin? I am willing to create a TypeScript declaration file for this extension 😃  Hope you have a wonderful week!

[2021-04-27 11:53] elfalem commented on #38
Hello @ardeora! I'm glad you found the Leaflet.curve plugin to be useful. It would be a welcome addition to have type support. I  would appreciate a PR for the TypeScript declaration file.

[2021-04-27 15:20] ardeora commented on #38
Okay awesome! I'll open a pull request soon 🥳

[2021-05-02 04:04] ardeora commented on #38
#39 I have made a pull request. Please let me know if you would like some changes to be made. I would be happy to update them!

[2021-05-04 04:26] elfalem commented on #38
Thank you @ardeora! The pull request looks good to me. I will merge and make a new release when I get a chance.

[2021-05-04 15:28] ardeora commented on #38
Awesome! Thanks. Let me know if you need help with anything else :D

[2021-05-08 23:34] elfalem commented on #38
version 0.8.0 has been published. Thanks again for your contribution!

[2021-05-08 23:34] #38 closed

[2021-07-12 15:45] LanceEa opened #40 "Type declaration not published to NPM"
The type declaration file was added in #38. However, it looks like the declaration file is not being published to NPM so it doesn't show up in the `node_modules/@elfalem/leaflet-curve`.

<img width="408" alt="Screen Shot 2021-07-12 at 10 30 45 AM" src="https://user-images.githubusercontent.com/8103374/125315648-f2ea2800-e2fc-11eb-8da8-a89f2ac5bb6f.png">

Based on the Typescript docs the two main w

[2021-07-13 00:22] elfalem commented on #40
Thanks for reporting this. I have published a new package (v0.8.1) to fix this.

[2021-07-13 17:21] LanceEa commented on #40
I have pulled in `0.8.2` and verified the typings are now published to NPM.

Thanks for getting this resolved so quickly!

One other thing that might be beneficial in the Readme is to point out for Typescript is they should do the following:

[code]

Based on the typings the `curve` is imported from the leaflet module and not from the leaflet-curve module.  At first I was trying to import from lea

[2021-07-13 23:38] elfalem commented on #40
I've updated the Readme. Thanks for pointing this out!

[2021-07-13 23:38] #40 closed

[2021-11-26 09:22] ahthyun opened #45 "Convert SVG path to coordinates Curve"
Hi Team
I am having a SVG file with available path, how I can convert it to coordinates to use in Curve
![image](https://user-images.githubusercontent.com/78398596/143556980-f679571f-525a-4d7d-bdab-068238eaf66f.png)

[2021-11-26 17:18] elfalem commented on #45
Unfortunately that's beyond the scope of this project. I don't have GIS experience but I think you would need to georeference the SVG path. Perhaps [this tool](https://github.com/Phrogz/svg2geojson) or [this one](https://github.com/mapbox/svg-to-geojson) could be useful. A GIS specific forum such as [GIS Stack Exchange](https://gis.stackexchange.com/) might be more relevant.

[2021-12-01 02:11] #45 closed

[2021-12-06 23:25] vpithart opened #46 "Changing line weight via setStyle() blows out"
With leaflet v1.7.1 and Leaflet.curve 1.0.0, calling setStyle to change line weight blows out.
Reproducible in [this codepen](https://codepen.io/vpithart/pen/rNGxPrz).

[code]

[This](https://github.com/Leaflet/Leaflet/blob/e3719a317ab325ed091fbbc6bfd34640fe19e13e/src/layer/vector/Path.js#L109) is where the error occurs.

[2021-12-06 23:48] vpithart commented on #46
I'm sorry, wrong repository. This bug belongs to the forked https://github.com/onikiienko/Leaflet.curve.
(that one is a default you get via `npm install leaflet-curve`).

[2021-12-06 23:48] #46 closed

[2021-12-07 00:05] elfalem commented on #46
Yeah that's an old fork which I don't think is maintained. I recommend using the package `@elfalem/leaflet-curve` instead.

[2022-07-06 13:30] eric-g-97477 opened #49 "Strange error when using leaflet-lasso with leaflet-curve"
I have a code pen demonstrating the issue at https://codepen.io/ericg_off/pen/JjLGWLw

I am using:

- https://unpkg.com/leaflet@1.8.0/dist/leaflet.js
- https://unpkg.com/leaflet-lasso@2.2.8/dist/leaflet-lasso.umd.min.js
- https://unpkg.com/@elfalem/leaflet-curve@0.9.1/dist/leaflet.curve.js

To reproduce:

1. Click on the lasso control in the upper right corner.
2. Draw a lasso around the markers

[2022-07-06 22:54] eric-g-97477 commented on #49
As confirmed by the leaflet-lasso author, the bug is on their end.

[2022-07-06 22:54] #49 closed

[2022-07-07 00:12] elfalem commented on #49
Thanks for the detailed description and follow-up. It's greatly appreciated.

[2022-07-07 01:01] eric-g-97477 opened #50 "Could a .getBounds() method be added?"
This is related to https://github.com/elfalem/Leaflet.curve/issues/49

As noted in the related leaflet-lasso ticket ( https://github.com/zakjan/leaflet-lasso/issues/50 ), there may be something this project can do to support such functionality.

The primary issue, I believe, is the lack of a .getBounds() method.

I am wondering how difficult it would be to add such a method to this project...?

[2022-07-09 14:34] elfalem commented on #50
There is already a `.getBounds()` method although it's not documented. For example on the demo page, you can run `L.rectangle(pathFive.getBounds()).addTo(map);`. Note that the bounds could be somewhat exaggerated (i.e. not as tight as they could be).

[2022-07-09 17:34] eric-g-97477 commented on #50
Great. Might be worth adding it to the documentation.

[2022-07-12 17:37] zakjan commented on #50
Besides `getBounds()`, lasso plugin also requires `toGeoJSON()`

[2022-07-12 23:18] eric-g-97477 commented on #50
I wonder if it would be possible to implement a simple version of toGeoJSON() using the output from the existing .trace() function with a default sampling distance of [0, 0.25, 0.75, 1]. It wouldn't be a perfect representation, but perhaps it would be good enough for what the lasso plugin requires.

Of course, it may be nice to provide a way to tune the sampling distance via a separate function on

[2022-07-13 00:56] elfalem commented on #50
@eric-g-97477 that sounds like it would work. Unfortunately, I'm a little short on time at the moment so it will likely take me a while to get to it.

[2022-09-09 13:13] guptaashwanee opened #51 "Is there any way to edit these curves in browser."

[2022-09-10 18:18] elfalem commented on #51
Yes, it is possible to use Leaflet.draw plugin to edit the curves. However, do note that the plugin seems to be abandoned and the request to merge the changes for editing curves was not merged. It can be used from https://github.com/qpincon/Leaflet.draw/tree/curve_built. See #32 for more details.

[2022-10-20 13:29] aasilva commented on #20
Hello @elfalem
First of all, thanks for your incredible work.

I'm having an undesired behavior when adding an arrowHead to a Curve. Depending on the zoom level, the position of the arrowHead is a bit off the curve.

I'm using the following, code based on the Demo:

[code]

You can also see this behavior on the demo page (http://elfalem.github.io/Leaflet.curve/). If you zoom out and then click on

[2022-10-21 03:07] elfalem commented on #20
Hello André,
How much zooming out is necessary to exhibit the behavior? As far as I can tell, the circles tend to be on top of the curve. Can you provide a picture of the issue?

[2022-10-21 09:20] aasilva commented on #20
Here's the use case:

Zoom out to zoom level 3 and click on Trace Curves
![leaflet-zoom-3](https://user-images.githubusercontent.com/10654343/197160831-47e4abdd-abed-414d-ad85-ff508234824c.png)

Then start to zoom in; you'll see that after a certain zoom level, the deviation starts to be perceptive.
See the images below:

![leaflet-zoom-9](https://user-images.githubusercontent.com/10654343/1971611

[2022-10-22 01:58] elfalem commented on #20
Thanks for the detailed steps. I'm guessing the issue is related to precision of the points because it seems to occur only when zooming in after tracing. Tracing the curves when already zoomed shows correct positions.

I'm not sure how easy or difficult it is to resolve this. But I'll investigate (any assistance is appreciated). In the meantime, one workaround is to obtain the trace points when zo

[2022-10-24 12:03] aasilva commented on #20
I will also try to investigate and let you know if I find something. Unfortunately, getting the trace points on a higher zoom level is not an option for me. Thanks for your attention.

[2022-11-30 03:11] elfalem commented on #20
So I have been looking at this for a while. It seems like the only possible approach that could work is computing the trace points at the highest zoom level.

I've been looking into how to do that regardless of the zoom level at which the trace() command is invoked. There is a useful method [`map.project(<LatLng> latlng, <Number> zoom)`](https://leafletjs.com/reference.html#map-project) that looks